/* tooltip.css */
.callout {
  position: relative;
  padding: 10px;
  background-color: rgba(31, 41, 55, 1); /* gray-900 from Tailwind */
  border-radius: 4px;
  white-space: nowrap; /* Prevents the text from breaking */
}

.callout:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  left: -8px;
  top: 50%;
  transform: translateY(-50%);
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid rgba(31, 41, 55, 1); /* Tailwind's gray-900 */
}

.callout:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  left: -6px;
  top: 50%;
  transform: translateY(-50%);
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right: 6px solid rgba(255, 255, 255, 1); /* white */
  z-index: 1;
}
